- if current_user.blank?
  %h1 Please Sign In
  = link_to 'Sign In with Github', '/auth/github'
- else
  %p
    You are signed in as #{current_user.username}.  Click the button below to sign out.
  = button_to "Sign Out", signout_path, method: :delete

  %h2 Repositories
  %table
    %tr
      %th No
      %th Repository Name
      %th
    - @repositories.each_with_index do |repo, index|
      %tr
        %td
          = index + 1
        %td
          = repo.name
        %td
          = link_to "Show", repository_path(:repo_name => repo.name)