<!DOCTYPE html>
<html>
  <head>
    <title>AmuraProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'jquery-2.1.4.min', 'jquery-ui' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
